name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Build
        shell: pwsh
        run: ./build/build.ps1

      - name: Upload build output
        uses: actions/upload-artifact@v4
        with:
          name: RomMbox
          path: output/RomMbox/
